{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/gamestyle.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

<!-- banner -->



<div class="bodypage">
    <!-- barre lateral gauche -->
    <div class="aside-left">
        <div class="indicecarte">
            <img class="loupe" src="/assets/images/loupe_2.png" alt="" height="300px">
            <div class="indices">
                <div class="texteindice">
                    <h3>Les indices</h3>
                    <button id="btnPopup4" class="btnPopup">Mes indices sur Moriarty</button>
                    <div id="overlay4" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Mes indices sur Moriarty
                            <span id="btnClose4" class="btnClose">&times;</span>
                            </h2>  
                            {% for moriartyReponse in moriartyReponses %}
                            <div class="indice" id="indice-moriarty{{loop.index}}">
                            <ul>
                                <li>{{moriartyReponse.indice}}</li>
                            </ul>
                            </div>
                            {% endfor %}
                        </div>

                    </div>

                    <button id="btnPopup5" class="btnPopup">Mes indices sur Baker</button>
                    <div id="overlay5" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Mes indices sur Baker
                            <span id="btnClose5" class="btnClose">&times;</span>
                            </h2>
    
                            {% for bakerReponse in bakerReponses %}
                            <ul>
                                <li>{{bakerReponse.indice}}</li>
                            </ul>
                            {% endfor %}
                        </div>

                    </div>
                    <br/>
                    
                    <button id="btnPopup6" class="btnPopup">Mes indices sur James</button>
                    <div id="overlay6" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Mes indices sur James
                            <span id="btnClose6" class="btnClose">&times;</span>
                            </h2>
    
                            {% for jamesReponse in jamesReponses %}
                            <ul>
                                <li>{{jamesReponse.indice}}</li>
                            </ul>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>

            <h2>Je veux parler à l’inspecteur</h2>
            <!-- buton go -->

            <div class="button">
                <a href="/sherlock/police?id=1"><img class="button_valider" src="/assets/images/button_valider.png"
                        alt="boutton valider" width="180px"></a>
            </div>
        </div>
    </div>

    <!-- body pag 3 -->


    <div class="center">


        <!-- histoire -->
        <div class="histoire">
            <center>
                <div class="textehistoire">
                    <h2>{{scenario.titre}}</h2>
                    <p>
                        {{scenario.histoire}} <br/> <br/>
                        La liste de preuves relevés sur la scène de crime :<br/>

                        - des cendres provenant d'un cigare composé de tabac indien<br/>
                        - quelques graviers retrouvés sur le paillasson d'entrée de madame Rose-marie Mayer<br/>
                        - Les scientifiques sont en pleine recherche sur l'odeur d'amande dans la maison, une odeur volatile, mais d'où peut-elle venir ?<br/>
                    </p>
                </div>
            </center>
            <img class="pen" src="/assets/images/inkpen.png" alt="stylo">
        </div>

    </div>

    <!-- barre lateral droit -->

    <div class="aside-right">
        <h2>Les suspects</h2>

    <!-- cards -->
        <div class="cartes">

            <div class="moriartycard">
                <img src="/assets/images/moriarty_carte.png" alt="moriarty">
                <button id="btnPopup1" class="btnPopup">J'interroge le suspect</button>
                    <div id="overlay1" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Les questions
                            <span id="btnClose1" class="btnClose">&times;</span>
                            </h2>
                            {% for moriartyReponse in moriartyReponses %}
                                <ul>
                                    <li>
                                        {{moriartyReponse.intitule}}<br>
                                        <input type="checkbox" name="check" id="check-moriarty{{loop.index}}" value="1"
                                            onchange="javascript:showContent({{loop.index}}, 'moriarty')" />
                                    </li>
                                    <li>
                                        <div class="reponse" id="content-moriarty{{loop.index}}">
                                            {{moriartyReponse.reponse}} <br>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
            </div>

            <div class="bakercard">
                <img src="/assets/images/baker_carte.png" alt="baker">
                <button id="btnPopup2" class="btnPopup">J'interroge le suspect</button>
                    <div id="overlay2" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Les questions
                            <span id="btnClose2" class="btnClose">&times;</span>
                        </h2>
                        {% for bakerReponse in bakerReponses %}
                            <ul>
                                <li>
                                    {{bakerReponse.intitule}}<br>
                                    <input type="checkbox" name="check" id="check-baker{{loop.index}}" value="1"
                                        onchange="javascript:showContent({{loop.index}}, 'baker')" />
                                </li>
                                <li>
                                    <div class="reponse" id="content-baker{{loop.index}}">
                                        {{bakerReponse.reponse}} <br>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="jamescard">
                <img src="/assets/images/james_carte.png" alt="james">
                <button id="btnPopup3" class="btnPopup">J'interroge le suspect</button>
                    <div id="overlay3" class="overlay">
                        <div id="popup" class="popup">
                            <h2>Les questions
                            <span id="btnClose3" class="btnClose">&times;</span>
                            </h2>
                            {% for jamesReponse in jamesReponses %}
                                <ul>
                                    <li>
                                        {{jamesReponse.intitule}}<br>
                                        <input type="checkbox" name="check" id="check-james{{loop.index}}" value="1"
                                            onchange="javascript:showContent({{loop.index}}, 'james')" />
                                    </li>
                                    <li>
                                        <div class="reponse" id="content-james{{loop.index}}">
                                            {{jamesReponse.reponse}} <br>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% block javascript %}
<script src="/assets/js/script.js"></script>{% endblock %}
{% endblock %}

